@use "./base.scss";

pre.poetry {
  font-size: 1.2rem;
  font-family: biro_script_standardRgus;
  border: none;
  padding: 0;
  position: unset;
}

.meta,
.content-meta {
  font-family: biro_script_standardRgus, var(--bodyFont);
}

body[data-slug="index"] .page-header h1.article-title {
  font-size: 2.5rem !important;
}

// a.external .external-icon {
//   display: none;
// }